/target
# IMPORTANT: NEVER upload Nintendo's copyrighted games
/roms
*.gb
# These roms should be fine though
!tests/blargg/**/*.gb
Cargo.lock
*.sav
tests/blargg/**/*source*
tests/blargg/*/source/
*.s
mooneye/
ppu_registers.txt
