/target
# IMPORTANT: NEVER upload Nintendo's copyrighted games
/roms
*.gb
# These roms should be fine though
!gb/tests/blargg/**/*.gb
Cargo.lock
*.sav
gb/tests/blargg/**/*source*
gb/tests/blargg/*/source/
*.s
mooneye/
*ppu_registers.txt*
*hexdump.txt*
*.txt
*.bin
*.sav
*.gba
