/target
# IMPORTANT: NEVER upload Nintendo's copyrighted games
/roms
*.gb
# These roms should be fine though
!gb/tests/vendored/blargg/**/*.gb
Cargo.lock
*.sav
gb/tests/vendored/blargg/**/*source*
gb/tests/vendored/blargg/*/source/
mooneye/
acid/
*ppu_registers.txt*
*hexdump.txt*
*.txt
*.bin
*.sav
*.gba
!gba/tests/**/*.gba
!gba/tests/**/**/*.gba
